.about {
    width: 60%;
    margin: 80px auto;

    .info {
        h2 {
            color: white;
            font-size: 3rem;
            font-weight: 600;
        }
        p {
            color: rgba(255, 255, 255, 0.5);
            font-size: 24px;
            line-height: 40px;
            font-weight: 300;
            padding-bottom: 3.6rem;
            max-width: 800px;
        }
    }

    .pdf {
        width: 80%;
        height:1000px;
        margin: auto;
    }
}

