$small: 800px;

.nav-wrapper {
    width: 100%;
    background: linear-gradient(270deg, #13adc7 0%, #945dd6 100%);
    .navbar {
        margin: 0px;
        padding: 0px;
        width: 90%;
        margin: auto;
        display: flex;

        .navbar-brand{
            font-size: 24px;
            line-height: 32px;
            color: rgba(255, 255, 255, 0.75);
            transition: all 0.4s ease 0s;
            border-bottom: 1px solid transparent;
        }

        .navbar-collapse {
            justify-content: space-around;

            ul {
                margin-bottom: 0px;
                width: 90%;
                display: flex;
                padding: 0px;
                flex-direction: row;
    
                li {
                    padding: 10px;
                    a {
                        font-size: 24px;
                        line-height: 32px;
                        color: rgba(255, 255, 255, 0.75);
                        transition: all 0.4s ease 0s;
                        border-bottom: 1px solid transparent;
                    }
                    
                    a:hover {
                        text-decoration: none;
                        color: #f3ec78;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: $small) {
    .nav-wrapper {
        width: 100%;
        background: linear-gradient(270deg, #13adc7 0%, #945dd6 100%);
        .navbar {
            margin: 0px;
            padding: 0px;
            width: 90%;
            margin: auto;
            display: flex;
    
            .navbar-brand{
                font-size: 24px;
                line-height: 32px;
                color: rgba(255, 255, 255, 0.75);
                transition: all 0.4s ease 0s;
                border-bottom: 1px solid transparent;
            }

            li {
                padding-left: 0px !important;
                a {
                    font-size: 24px;
                    line-height: 32px;
                    color: rgba(255, 255, 255, 0.75);
                    transition: all 0.4s ease 0s;
                    border-bottom: 1px solid transparent;
                }
                
                a:hover {
                    text-decoration: none;
                    color: #f3ec78;
                }
            }
    
            .navbar-collapse {
                justify-content: space-around;
    
                ul {
                    margin-bottom: 0px;
                    width: 90%;
                    display: flex;
                    padding: 0px;
                    flex-direction: column;
        
                   
                }
            }
        }
    }
}